<div class="main-div home">
<h3> Welcome !!!. </h3>
    
<h3>Books</h3>
<ul>
    <li *ngFor="let book of books; let i = index">{{book.title}} -- {{i}}</li>
</ul>

<h3>Banks</h3>
<ul>
<li *ngFor="let iteam of data; let i = index">{{iteam.name}} -- {{i}}</li>
</ul>

<h6> Enter Number Length : <input type="text" [(ngModel)]="num" /> </h6>
<a class="btn btn-primary" role="button" (click)="getRandomNum()">Give me a Number!</a>
<h3 *ngIf="randomNum > 0"> {{randomNum}}</h3>
<h3 *ngIf="randomNum == 0"> length has not been declared</h3> 
 
<div class="img-cls">
<img [src]="imageSrc">
</div>
</div>